@import "../base/util.scss";
@import "../base/color.scss";

/* 텍스트 입력 효과 커서 */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-sec {
    section {
        min-height: 70rem;
    }
    &.sec01 {
        position: relative;
        padding-top: 8rem;
        margin-bottom: 20rem;
        @include flexbox(column, start, center);
        overflow: hidden;
        .wide-circle {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 300%;
            height: 300%;
            border-radius: 50%;
            background-color: $bg;
        }
        .inner {
            padding-top: 4.4rem;
            @include flexbox(column, start, center);
            text-align: center;
            .tit-wrap {
                margin-bottom: 2.4rem;
                gap: 2rem;
                @include tablet {
                    gap: 1.2rem;
                }
                strong {
                    font-size: 4.4rem;
                    font-size: clamp(3.1rem, 2.29vw, 4.4rem);
                    @include tablet {
                        font-size: 2.4rem;
                    }
                }
            }
            button.h58 {
                margin-bottom: 4.6rem;
            }
            .bun-wrap {
                @include flexbox(column, center, center);
                height: 46.6rem;
                margin-bottom: 5.5rem;
                li {
                    margin: 0 auto;
                    color: $white;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    &.bun- {
                        &top,
                        &bottom {
                            width: 45rem;
                            height: 10.7rem;
                            z-index: 3;
                        }
                        &top {
                            background-image: url(../../../assets/images/main/sec01_bun_top.svg);
                        }
                        &bottom {
                            background-image: url(../../../assets/images/main/sec01_bun_bottom.svg);
                        }
                        &inside {
                            width: 144rem;
                            height: calc(100% - 20.7rem);
                            scrollbar-width: none;
                            .inside- {
                                &01,
                                &02,
                                &03 {
                                    position: relative;
                                    @include flexbox(row, center, center);
                                    width: 100%;
                                    height: 100%;
                                    margin: 0 auto;
                                    gap: 4rem;
                                }
                                &01 {
                                    top: -0.2rem;
                                    height: 8.5rem;
                                    z-index: 2;
                                }
                                &02 {
                                    top: -3.5rem;
                                    height: 9.6rem;
                                    z-index: 1;
                                }
                                &03 {
                                    top: -6rem;
                                    height: 16.5rem;
                                    z-index: 0;
                                }
                                // 각 아이템 스타일
                                &item {
                                    width: 33.3%;
                                    height: 100%;
                                    background-size: contain;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    // will-change: transform; // 성능 최적화
                                    transition: background-image 0s;
                                    &.item-01-01 {
                                        background-image: url(../../../assets/images/main/bun-01_01.svg);
                                    }
                                    &.item-01-02 {
                                        background-image: url(../../../assets/images/main/bun-01_02.svg);
                                    }
                                    &.item-01-03 {
                                        background-image: url(../../../assets/images/main/bun-01_03.svg);
                                    }
                                    &.item-02-01 {
                                        background-image: url(../../../assets/images/main/bun-02_01.svg);
                                    }
                                    &.item-02-02 {
                                        background-image: url(../../../assets/images/main/bun-02_02.svg);
                                    }
                                    &.item-02-03 {
                                        background-image: url(../../../assets/images/main/bun-02_03.svg);
                                    }
                                    &.item-03-01 {
                                        background-image: url(../../../assets/images/main/bun-03_01.svg);
                                    }
                                    &.item-03-02 {
                                        background-image: url(../../../assets/images/main/bun-03_02.svg);
                                    }
                                    &.item-03-03 {
                                        background-image: url(../../../assets/images/main/bun-03_03.svg);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @include tablet {
            // max-height: 77.6rem;
            padding-top: 6.2rem;
            margin-bottom: 1.3rem;
            .inner {
                padding-top: 5.1rem;
                button.h58 {
                    width: 14.6rem;
                    height: 4rem;
                    font-size: 1.6rem;
                    margin-bottom: 6.8rem;
                }
                .bun-wrap {
                    height: 24.4rem;
                    margin-bottom: 5.2rem;
                    li {
                        &.bun- {
                            &top,
                            &bottom {
                                width: 23.5rem;
                                height: 5.6rem;
                            }
                            &bottom {
                                position: relative;
                                top: -10%;
                            }
                            &inside {
                                height: 13.177rem;
                                .inside- {
                                    &01,
                                    &02,
                                    &03 {
                                        width: 100%;
                                        max-width: 75.6rem;
                                    }
                                    &01 {
                                        height: 4.2rem;
                                    }
                                    &02 {
                                        top: -2rem;
                                        height: 4.7rem;
                                    }
                                    &03 {
                                        top: -4rem;
                                        height: 8rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.sec02,
    &.sec03,
    &.sec05,
    &.sec06,
    &.sec07,
    &.sec08 {
        position: sticky;
        top: 0;
        z-index: -1;
    }
    &.sec02 {
        padding: 12rem 0;
        z-index: -1;
        .tit-wrap {
            margin-bottom: 9rem;
        }
        .inner {
            position: relative;
            height: 46.3rem;
            max-width: 71.1rem;
            margin: 0 auto;
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 102%;
                height: calc(49.2% - 5.4rem);
                z-index: 99;
            }
            &::before {
                top: -3px;
                background: linear-gradient(180deg, #FFF 30.06%, rgba(255, 255, 255, 0.00) 100%);
                backdrop-filter: blur(2px);
            }
            &::after {
                bottom: -3px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 66.35%);
                backdrop-filter: blur(2px);
            }
            .list-wrap {
                height: 100%;
                overflow: hidden;
                .list-inner {
                    @include flexbox(column, start, center);
                    gap: 1rem;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 1;
                    .list-item {
                        width: 60rem;
                        height: 7.6rem;
                        border-radius: 1.6rem;
                        padding: 2rem;
                        @include flexbox(column, center, center);
                        p {
                            font-weight: 600;
                            font-size: 2.4rem;
                        }
                        &.active {
                            width: 100%;
                            height: 10.8rem;
                            padding: 3rem 2rem;
                            p {
                                font-size: 3.2rem;
                                color: $white;
                            }
                        }
                        &.prev,
                        &.next {
                            width: 64rem;
                        }
                        &.item-01 {
                            background-color: $blue_40;
                        }
                        &.item-02 {
                            background-color: $orange_40;
                        }
                        &.item-03 {
                            background-color: $pink;
                        }
                        &.item-04 {
                            background-color: $purple_40;
                        }
                        &.item-05 {
                            background-color: $green_50;
                        }
                        &.item-06 {
                            background-color: $red_40;
                        }
                    }
                }
            }
        }
        @include tablet {
            padding: 16rem 0 12rem;
            // max-height: 75.3rem;
            .tit-wrap {
                margin-bottom: 7.75rem;
            }
            .inner {
                height: 21.33rem;
                // max-width: 33.4rem;
                max-width: 50rem;
                &::before,
                &::after {
                    height: 7.8rem;
                }
                .list-wrap {
                    .list-inner {
                        gap: 0.47rem;
                        .list-item {
                            // width: 26.3rem;
                            width: 80%;
                            height: 3.58rem;
                            padding: 0.94rem;
                            border-radius: 0.94rem;
                            p {
                                font-size: 1.1rem;
                            }
                            &.active {
                                height: 5.2rem;
                                padding: 1.41rem 0.94rem;
                                p {
                                    font-size: 1.5rem;
                                }
                            }
                            &.prev,
                            &.next {
                                // width: 28.2rem;
                                width: 90%;
                                p {
                                    font-size: 1.1rem;
                                }
                            }
                            &.item-01 {
                                background-color: $blue_40;
                            }
                            &.item-02 {
                                background-color: $orange_40;
                            }
                            &.item-03 {
                                background-color: $pink;
                            }
                            &.item-04 {
                                background-color: $purple_40;
                            }

                            &.item-05 {
                                background-color: $green_50;
                            }

                            &.item-06 {
                                background-color: $red_40;
                            }
                        }
                    }
                }
            }
        }
    }
    &.sec03 {
        width: 100%;
        height: 100vh;
        background-color: rgba($white, 0.95);
        backdrop-filter: blur(10px);
        @include flexbox(row, center, center);
        .figure-wrap {
            position: relative;
            width: calc(100% - 4.6rem);
            max-width: 81.9rem;
            margin: 0 auto;
        }
        .img-wrap {
            width: 100%;
            height: 14.1rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
                &.type01 {
                    @include tablet_junction {
                        display: none;
                    }
                }
                &.type02 {
                    display: none;
                    @include tablet_junction {
                        display: block;
                    }
                }
            }
        }
        .typing-container {
            position: absolute;
            top: 0;
            right: 0;
            width: 63.4rem;
            height: 11rem;
            padding-left: 2rem;
            font-size: 6rem;
            font-weight:700;
            color: $white;
            @include flexbox(row, flex-start, center);
            word-break:keep-all;
            @include tablet_junction {
                display: none;
            }
            #cursor {
                border-left: 2px solid $white; /* 커서 스타일 */
                animation: blink 0.7s infinite;
                display: inline-block;
                margin-left: 2px;
                height: 6rem; /* 폰트 크기와 동일하게 설정 */
                vertical-align: middle;
            }
        }
    }
    &.sec04 {
        position: relative;
        width: 100%;
        height: 100vh;
        background: $gray_100;
        margin: 0 auto;
        padding-top: 10%;
        .canvas {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            margin: 0 auto;
            z-index: 1;
            opacity: 0.8;
            pointer-events: none;
        }
        .tit-wrap {
            margin-bottom: 10rem;
            position: relative;
            z-index: 2;
            strong {
                font-size: 5.2rem;
                font-size: clamp(4rem, 2.71vw, 5.2rem);
                color: $white;
            }
            p {
                color: $white;
            }
        }
        @include tablet {
            padding-top: 40%;
            .tit-wrap {
                margin-bottom: 3.2rem;
                strong {
                    font-size: 2.6rem;
                }
            }
        }
    }

    &.sec05,
    &.sec06,
    &.sec07,
    &.sec08 {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        @include flexbox(column, flex-end, center);
        gap: 11.8rem;
        gap: clamp(9.8rem, 6.15vw, 11.8rem);
        .tit-wrap {
            strong {
                text-align: center;
                color: $white;
            }
            p {
                color: $white;
            }
        }
        .img-wrap {
            position: relative;
            width: 80rem;
            height: 46.8rem;
            margin: 0 auto;
            .circle {
                width: 26rem;
                // width: 69.33vw;
                height: 26rem;
                // height: 69.33vw;
                border-radius: 50%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                display: none;
            }
            .ellipse {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                background-size: contain;
                background-position: center bottom;
                background-repeat: no-repeat;
            }
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 60rem;
            width: clamp(48rem, 31.25vw, 60rem);
            height: 45rem;
            height: clamp(36rem, 23.44vw, 45rem);
            background-size: contain;
            background-position: center bottom;
            background-repeat: no-repeat;
            z-index: 1;
            @include tablet {
                width: 30rem;
                height: 22.5rem;
            }
        }
        @include tablet {
            @include flexbox(column, center, center);
            .img-wrap {
                width: calc(100% - 6rem);
                height: 26rem;
                margin: 0 auto;
                @include flexbox(row, center, center);
                .circle {
                    display: block;
                }
                .ellipse {
                    display: none;
                }
            }
        }
    }

    &.sec05 {
        background-color: $pink;
        .img-wrap {
            .circle {
                background-image: url(../../../assets/images/main/main_01.png);
            }
            .ellipse {
                background-image: url(../../../assets/images/main/main_ellipse_01.png);
            }
        }
        &::before {
            left: 18%;
            background-image: url(../../../assets/images/main/figure-01.svg);
            @include tablet {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &.sec06 {
        background-color: $green_80;
        .img-wrap {
            .circle {
                background-image: url(../../../assets/images/main/main_02.png);
            }
            .ellipse {
                background-image: url(../../../assets/images/main/main_ellipse_02.png);
            }
        }
        &::before {
            right: 13%;
            background-image: url(../../../assets/images/main/figure-02.svg);            @include tablet {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &.sec07 {
        background-color: $purple_40;
        .img-wrap {
            .circle {
                background-image: url(../../../assets/images/main/main_03.png);
            }
            .ellipse {
                background-image: url(../../../assets/images/main/main_ellipse_03.png);
            }
        }
        &::before {
            left: 7%;
            background-image: url(../../../assets/images/main/figure-03.svg);            @include tablet {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &.sec08 {
        background-color: $orange_40;
        .img-wrap {
            .circle {
                background-image: url(../../../assets/images/main/main_04.png);
            }
            .ellipse {
                background-image: url(../../../assets/images/main/main_ellipse_04.png);
            }
        }
        &::before {
            right: 7%;
            background-image: url(../../../assets/images/main/figure-04.svg);            @include tablet {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &.sec09 {
        min-height: 100vh;
        padding: 8rem 0;
        background: url(../../../assets/images/main/section_09_bg.png) no-repeat center/cover;
        overflow: hidden;
        @include flexbox(column, center, center);
        gap: 9.5rem;
        .dynamic-swiper {
            position: relative;
            width: calc(100% - 4rem);
            max-width: 1440px;
            margin: 0 auto;
            @include tablet {
                width: 100%;
            }
            .swiper-wrapper {
                @include flexbox(row, center, center);
                .swiper-slide {
                    @include flexbox(row, center, center);
                    .slide-inner {
                        width: 100%;
                        height: 100%;
                        max-width: 54.2rem;
                        max-height: 54.2rem;
                        border-radius: 50%;
                        background: $white;
                        @include flexbox(column, center, center);
                        padding-bottom: 7.9rem;
                        padding-bottom: clamp(2.2rem, 4.11vw, 7.9rem);
                        aspect-ratio: 1;
                        .num {
                            display: inline-block;
                            width: 8.7rem;
                            width: clamp(3.8rem, 4.53vw, 8.7rem);
                            height: 8.7rem;
                            height: clamp(3.8rem, 4.53vw, 8.7rem);
                            margin-bottom: 5rem;
                            font-family: $AntiqueOlive;
                            font-size: 4rem;
                            font-size: clamp(2rem, 2.08vw, 4rem);
                            font-weight: 700;
                            border-radius: 50%;
                            @include flexbox(row, center, center);
                            @include mobile_plus {
                                margin-bottom: 2.2rem;
                            }
                            &.num01 {
                                background: $pink;
                            }
                            &.num02 {
                                background: #D5C7E3;
                            }
                            &.num03 {
                                background: $green_50;
                            }
                        }
                        .title {
                            font-size: 3.6rem;
                            font-size: clamp(2.2rem, 1.88vw, 3.6rem);
                            font-weight: 700;
                        }
                        .desc {
                            margin-top: 1.2rem;
                            font-size: 2rem;
                            font-size: clamp(1.6rem, 1.04vw, 2rem);
                            text-align: center;
                        }
                    }
                    @media (max-width: 1070px) {
                        .slide-inner {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            @media (max-width: 1070px) {
                .swiper-wrapper {
                    align-items: initial;
                    justify-content: initial;
                }
            }
            .swiper-button-next,
            .swiper-button-prev {
                width: 3.2rem;
                height: 3.2rem;
                border-radius: 50%;
                box-shadow: 0px 2.667px 6.667px 0px rgba(0, 0, 0, 0.13);
                display: none;
                &::after {
                    content: none;
                }
            }
            .swiper-button-prev {
                transform: rotate(180deg);
                background: url(../../../assets/images/icon/arrow_right.svg) no-repeat center $white;
            }
            .swiper-button-next {
                background: url(../../../assets/images/icon/arrow_right.svg) no-repeat center $white;
            }
            @media (max-width: 1070px) {
                .swiper-button-next,
                .swiper-button-prev {
                    display: block;
                }
            }
        }
    }

    &.sec10 {
        position: relative;
        min-height: 100vh;
        background: $white;
        @include notebook {
            padding: 4rem 0;
        }
        .inner {
            height: 100vh;
            @include flexbox(row, space-between, center);
            @include notebook {
                @include flexbox(column, center, center);
                gap: 6rem;
            }
            .tit-wrap {
                margin-bottom: 15rem;
                @include flexbox(column, flex-start, flex-start);
                @include notebook {
                    margin-bottom: 0;
                    @include flexbox(column, center, center);
                }
                strong {
                    text-align: left;
                    @include notebook {
                        text-align: center;
                    }
                }
                p {
                    text-align: left;
                }
            }
            .con-wrap {
                position: relative;
                width: 79.1rem;
                height: 57.2rem;
                @include tablet_junction {
                    max-width: 63.28rem;
                    width: 100%;
                    height: 45.76rem;
                }
                @include tablet {
                    height: 38rem;
                }
                @include mobile {
                    width: 33.5rem;
                    height: 34.2rem;
                }
                > div {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 100%;
                    @include flexbox(column, space-between, center);
                    .top {
                        width: 100%;
                        height: 10.3rem;
                        @include flexbox(row, center, center);
                            gap: 1.2em;
                        @include tablet_junction {
                            height: 8rem;
                        }
                    }
                    > ul {
                        width: 100%;
                        @include flexbox(column, center, center);
                        gap: 1rem;
                        @include tablet_junction {
                            gap: .8rem;
                        }
                        @include tablet {
                            gap: .6rem;
                        }
                        li {
                            width: 98%;
                            padding: 1rem 2rem;
                            text-align: center;
                            font-size: 2.4rem;
                            line-height: 1.5;
                            border-radius: 1rem;
                        }
                    }
                    .bottom {
                        width: 100%;
                        height: 10.3rem;
                        @include tablet_junction {
                            height: 8rem;
                        }
                    }
                }
                .inhouse {
                    left: 0;
                    width: 42.4rem;
                    z-index: 2;
                    @include tablet_junction {
                        width: 32.4rem;
                    }
                    .tag {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -12.8rem;
                        ul {
                            @include flexbox(column, center, center);
                            gap: 1rem;
                            li {
                                width: 11.8rem;
                                height: 5.6rem;
                                font-size: 1.8rem;
                                font-weight: 700;
                                border-radius: 1rem;
                                @include flexbox(row, center, center);
                                &:nth-child(1) {
                                    background: $pink;
                                }
                                &:nth-child(2) {
                                    background: #D5C7E3;
                                }
                                &:nth-child(3) {
                                    background: $green_50;
                                }
                                &:nth-child(4) {
                                    background: #FF9F19;
                                }
                                &:nth-child(5) {
                                    height: 9.2rem;
                                    background: $bg;
                                }
                            }
                        }
                    }
                    @media (max-width: 1360px) {
                        .tag {
                            display: none;
                        }
                    }
                    .top {
                        background: url(../../../assets/images/main/bun-top.svg) no-repeat center/contain;
                        span {
                            color: $white;
                            font-weight: 700;
                            &.ko {
                                font-family: $pretendard;
                                font-size: 3.6rem;
                                @include tablet_junction {
                                    font-size: 3rem;
                                }
                                @include tablet {
                                    font-size: 2.1rem;
                                }
                            }
                            &.en {
                                font-family: $AntiqueOlive;
                                font-weight: 700;
                                font-size: 3.2rem;
                                @include tablet_junction {
                                    font-size: 2.8rem;
                                }
                                @include tablet {
                                    font-size: 1.9rem;
                                }
                            }
                        }
                    }
                    > ul {
                        li {
                            font-weight: 600;
                            background: $white;
                            box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
                            @include tablet_junction {
                                padding: .8rem 1.2rem;
                                font-size: 1.8rem;
                            }
                            @include tablet {
                                padding: .6rem 1.2rem;
                                font-size: 1.4rem;
                            }
                        }
                    }
                    .bottom {
                        background: url(../../../assets/images/main/bun-bottom.svg) no-repeat center/contain;
                    }
                }
                .external {
                    right: 0;
                    width: 43.4rem;
                    @include tablet_junction {
                        width: 32.4rem;
                    }
                    .top {
                        background: url(../../../assets/images/main/bun-top_g.svg) no-repeat center/contain;
                        span {
                            color: $gray_60;
                            font-size: 2.8rem;
                            font-weight: 700;
                            @include tablet {
                                font-size: 1.7rem;
                            }
                        }
                    }
                    > ul {
                        li {
                            color: $gray_40;
                            font-weight: 400;
                            background: #F8F7F7;
                            @include tablet_junction {
                                padding: .8rem 5rem;
                                font-size: 1.8rem;
                            }
                            @include tablet {
                                padding: .6rem;
                                font-size: 1.4rem;
                            }
                            @include mobile {
                                text-align: right;
                            }
                        }
                        @media (max-width: 630px) {
                            li {
                                text-align: right;
                            }
                        }
                    }
                    .bottom {
                        background: url(../../../assets/images/main/bun-bottom_g.svg) no-repeat center/contain;
                    }
                }
                @media (max-width: 630px) {
                    .external {
                        .top {
                            padding-right: 5.2rem;
                            @include flexbox(row, flex-end, center);
                        }
                    }
                }
                @media (max-width: 500px) {
                    .inhouse, .external {
                        width: clamp(20.4rem, 64.80vw ,32.4rem);
                    }
                }
                @include mobile {
                    .inhouse, .external {
                        width: 20.4rem;
                    }
                }
            }
        }
    }

    &.sec11 {
        position: relative;
        height: 100vh;
        background: $white;
        .inner {
            height: 100vh;
            @include flexbox(column, center, center);
            gap: 10.5rem;
            @include tablet {
                gap: 6rem;
            }
            .con-wrap {
                width: 100%;
                @include flexbox(row, center, center);
                gap: 2rem;
                @include tablet_junction {
                    @include flexbox(column, center, center);
                    gap: 6rem;
                }
                .card {
                    position: relative;
                    width: calc(50% - 1rem);
                    height: 40rem;
                    height: clamp(30rem, 20.83vw, 40rem);
                    padding-left: 5.6rem;
                    border-radius: 4rem;
                    @include flexbox(column, center, flex-start);
                    @include tablet_junction {
                        width: 100%;
                        max-width: 70rem;
                    }
                    @include tablet {
                        height: 25rem;
                        border-radius: 3rem;
                    }
                    @include mobile_plus {
                        height: 19rem;
                        padding-left: 2.6rem;
                        border-radius: 2rem;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        right: 0;
                        top: calc(50% + 6.5rem);
                        transform: translateY(-50%);
                        width: 40rem;
                        width: clamp(22.5rem, 20.83vw, 40rem);
                        height: 38rem;
                        height: clamp(21.2rem, 19.79vw, 38rem);
                        @include tablet_junction {
                            width: 28rem;
                            height: 26.6rem;
                        }
                        @include tablet {
                            width: 24rem;
                            height: 22.8rem;
                        }
                        @include mobile_plus {
                            right: -1rem;
                            top: calc(50% + 2.2rem);
                            width: 22.5rem;
                            height: 21.2rem;
                        }
                    }
                    p {
                        margin-bottom: .6rem;
                        font-size: 2.4rem;
                        font-weight: 500;
                        line-height: 1.37;
                        @include notebook {
                            font-size: 2rem;
                        }
                        @include mobile_plus {
                            margin-bottom: .3rem;
                            font-size: 1.6rem;
                        }
                    }
                    strong {
                        font-size: 4rem;
                        font-weight: 700;
                        @include notebook {
                            font-size: 3rem;
                        }
                        @include mobile_plus {
                            font-size: 2.2rem;
                        }
                    }
                    button {
                        margin-top: 3.5rem;
                        width: 18.3rem;
                        height: 5.8rem;
                        @include tablet {
                            width: 14rem;
                            height: 5rem;
                        }
                        @include mobile_plus {
                            margin-top: 1.6rem;
                            width: 8.7rem;
                            height: 4rem;
                            font-size: 1.6rem;
                        }
                    }
                    &.card01 {
                        background: $pink;
                        &::before {
                            background: url(../../../assets/images/main/character01.svg) no-repeat center/contain;
                        }
                    }
                    &.card02 {
                        background: #FF9F19;
                        &::before {
                            background: url(../../../assets/images/main/character02.svg) no-repeat center/contain;
                        }
                    }
                }
            }
        }
    }
}