@import "../base/util.scss";
@import "../base/color.scss";

.main-sec {

    section {
        min-height: 70rem;
    }

    &.sec01 {
        position: relative;
        padding-top: 8rem;
        margin-bottom: 20rem;
        @include flexbox(column, start, center);
        overflow: hidden;
        .wide-circle {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 300%;
            height: 300%;
            border-radius: 50%;
            background-color: $bg;
        }
        .inner {
            padding-top: 4.4rem;
            @include flexbox(column, start, center);
            color: $gray_100;
            text-align: center;
            .tit-wrap {
                margin-bottom: 2.4rem;
            }
            button.h58 {
                margin-bottom: 4.6rem;
            }
            .bun-wrap {
                @include flexbox(column, center, center);
                height: 46.6rem;
                margin-bottom: 5.5rem;
                li {
                    margin: 0 auto;
                    color: $white;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    &.bun- {
                        &top,
                        &bottom {
                            width: 45rem;
                            height: 10.7rem;
                            z-index: 3;
                            span {
                                line-height: 10.7rem;
                                text-align: center;
                                font-family: $AntiqueOlive;
                                font-size: 3.2rem;
                                letter-spacing: -0.05em;
                                text-transform: uppercase;
                                white-space: nowrap;
                            }
                        }
                        &top {
                            background-image: url(../../../assets/images/main/bun-top.svg);
                        }
                        &bottom {
                            background-image: url(../../../assets/images/main/bun-bottom.svg);
                        }
                        &inside {
                            width: 144rem;
                            height: calc(100% - 20.7rem);
                            scrollbar-width: none;
                            .inside- {
                                &01,
                                &02,
                                &03 {
                                    position: relative;
                                    @include flexbox(row, center, center);
                                    width: 100%;
                                    height: 100%;
                                    margin: 0 auto;
                                    gap: 4rem;
                                }
                                &01 {
                                    top: -0.2rem;
                                    height: 8.5rem;
                                    z-index: 2;
                                }
                                &02 {
                                    top: -3.5rem;
                                    height: 9.6rem;
                                    z-index: 1;
                                }
                                &03 {
                                    top: -6rem;
                                    height: 16.5rem;
                                    z-index: 0;
                                }
                                // 각 아이템 스타일
                                &item {
                                    width: 33.3%;
                                    height: 100%;
                                    background-size: contain;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    // will-change: transform; // 성능 최적화
                                    transition: background-image 0s;
                                    &.item-01-01 {
                                        background-image: url(../../../assets/images/main/bun-01_01.svg);
                                    }
                                    &.item-01-02 {
                                        background-image: url(../../../assets/images/main/bun-01_02.svg);
                                    }
                                    &.item-01-03 {
                                        background-image: url(../../../assets/images/main/bun-01_03.svg);
                                    }
                                    &.item-02-01 {
                                        background-image: url(../../../assets/images/main/bun-02_01.svg);
                                    }
                                    &.item-02-02 {
                                        background-image: url(../../../assets/images/main/bun-02_02.svg);
                                    }
                                    &.item-02-03 {
                                        background-image: url(../../../assets/images/main/bun-02_03.svg);
                                    }
                                    &.item-03-01 {
                                        background-image: url(../../../assets/images/main/bun-03_01.svg);
                                    }
                                    &.item-03-02 {
                                        background-image: url(../../../assets/images/main/bun-03_02.svg);
                                    }
                                    &.item-03-03 {
                                        background-image: url(../../../assets/images/main/bun-03_03.svg);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @include tablet {
            // max-height: 77.6rem;
            padding-top: 6.2rem;
            margin-bottom: 1.3rem;
            .inner {
                padding-top: 5.1rem;
                button.h58 {
                    width: 14.6rem;
                    height: 4rem;
                    font-size: 1.6rem;
                    margin-bottom: 7rem;
                }
                .bun-wrap {
                    height: 24.4rem;
                    margin-bottom: 5.2rem;
                    li {
                        &.bun- {
                            &top,
                            &bottom {
                                width: 23.5rem;
                                height: 5.6rem;
                                span {
                                    line-height: 5.6rem;
                                    font-size: 1.8rem;
                                }
                            }
                            &bottom {
                                position: relative;
                                top: -10%;
                            }
                            &inside {
                                height: 13.177rem;
                                .inside- {
                                    &01,
                                    &02,
                                    &03 {
                                        width: 100%;
                                        max-width: 75.6rem;
                                    }
                                    &01 {
                                        height: 4.2rem;
                                    }
                                    &02 {
                                        top: -2rem;
                                        height: 4.7rem;
                                    }
                                    &03 {
                                        top: -4rem;
                                        height: 8rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.sec02,
    &.sec03,
    &.sec05,
    &.sec06,
    &.sec07,
    &.sec08 {
        position: sticky;
        top: 0;
        z-index: -1;
    }
    &.sec02 {
        padding: 12rem 0;
        z-index: -1;
        .tit-wrap {
            gap: 1.6rem;
            margin-bottom: 9rem;
            strong {
                font-size: 5.2rem;
            }
        }
        .inner {
            position: relative;
            height: 46.3rem;
            max-width: 71.1rem;
            margin: 0 auto;
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 102%;
                height: calc(49.2% - 5.4rem);
                z-index: 99;
            }
            &::before {
                top: -1px;
                background: linear-gradient(180deg, #FFF 30.06%, rgba(255, 255, 255, 0.00) 100%);
                backdrop-filter: blur(2px);
            }
            &::after {
                bottom: -1px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 66.35%);
                backdrop-filter: blur(2px);
            }
            .list-wrap {
                height: 100%;
                overflow: hidden;
                .list-inner {
                    @include flexbox(column, start, center);
                    gap: 1rem;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 1;
                    .list-item {
                        width: 60rem;
                        border-radius: 1.6rem;
                        padding: 2rem;
                        @include flexbox(column, center, center);
                        p {
                            font-weight: 600;
                            font-size: 2.4rem;
                            letter-spacing: -0.02em;
                        }
                        &.active {
                            width: 100%;
                            padding: 3rem 2rem;
                            p {
                                font-size: 3.2rem;
                                color: $white;
                            }
                        }
                        &.prev,
                        &.next {
                            width: 64rem;
                        }
                        &.item-01 {
                            background-color: $blue_40;
                        }
                        &.item-02 {
                            background-color: $orange_40;
                        }
                        &.item-03 {
                            background-color: $pink;
                        }
                        &.item-04 {
                            background-color: $purple_40;
                        }
                        &.item-05 {
                            background-color: $green_50;
                        }
                        &.item-06 {
                            background-color: $red_40;
                        }
                    }
                }
            }
        }
        @include tablet {
            padding: 16rem 0 12rem;
            max-height: 75.3rem;
            .tit-wrap {
                gap: 1.2rem;
                margin-bottom: 7.75rem;
                strong {
                    font-size: 2.8rem;
                }
            }
            .inner {
                height: 21.33rem;
                // max-width: 33.4rem;
                max-width: 50rem;
                &::before,
                &::after {
                    height: 7.8rem;
                }
                .list-wrap {
                    .list-inner {
                        gap: 0.47rem;
                        .list-item {
                            // width: 26.3rem;
                            width: 80%;
                            // height: 3.5rem;
                            padding: 0.94rem;
                            border-radius: 0.94rem;
                            p {
                                font-size: 1.1rem;
                                letter-spacing: -0.0451rem;
                            }
                            &.active {
                                // height: 5.2rem;
                                padding: 1.41rem 0.94rem;
                                p {
                                    font-size: 1.5rem;
                                }
                            }
                            &.prev,
                            &.next {
                                // width: 28.2rem;
                                width: 90%;
                                padding: 0.94rem;
                                // height: 3.5rem;
                                p {
                                    font-size: 1.1rem;
                                }
                            }
                            &.item-01 {
                                background-color: $blue_40;
                            }
                            &.item-02 {
                                background-color: $orange_40;
                            }
                            &.item-03 {
                                background-color: $pink;
                            }
                            &.item-04 {
                                background-color: $purple_40;
                            }

                            &.item-05 {
                                background-color: $green_50;
                            }

                            &.item-06 {
                                background-color: $red_40;
                            }
                        }
                    }
                }
            }
        }
    }
    &.sec03 {
        width: 100%;
        height: 100vh;
        background-color: rgba($white, 0.95);
        backdrop-filter: blur(10px);
        .img-wrap {        
            width: calc(100% - 4.6rem);
            height: 100%;
            max-width: 81.9rem;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }
    &.sec04,
    &.sec05,
    &.sec06,
    &.sec07,
    &.sec08 {
        width: 100%;
        min-height: 96rem;
        @include tablet {
            height: 70rem;
            min-height: auto;
        }
    }

    &.sec04 {
        position: relative;
        min-height: 100vh;
        height: 100vh;
        background: $gray_100;
        margin: 0 auto;
        padding-top: 10%;
        // padding-top: 34.9rem;
        // padding-top: clamp(17.3rem, 18.18vw, 34.9rem);
        .canvas {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            margin: 0 auto;
            z-index: 1;
            opacity: 0.8;
            pointer-events: none;
        }
        .tit-wrap {
            // position: absolute;
            // top: 25%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // // transform: translateX(-50%);
            margin-bottom: 10rem;
            position: relative;
            z-index: 2;
            strong {
                font-size: 5.2rem;
                font-size: clamp(4rem, 2.71vw, 5.2rem);
                color: $white;
            }
            p {
                color: $white;
            }
        }
        @include tablet {
            padding-top: 17.3rem;
            .tit-wrap {
                margin-bottom: 3.2rem;
                strong {
                    font-size: 2.6rem;
                }
            }
        }
    }

    &.sec05,
    &.sec06,
    &.sec07,
    &.sec08 {
        padding: 3rem;
        overflow: hidden;
        height: 96rem;

        .tit-wrap {
            @include flexbox(column, center, center);
            gap: 1.6rem;
            margin-bottom: 9rem;
            padding-top: 9rem;

            strong,
            p {
                text-align: center;
            }

            strong {
                // font-size: 5.2rem;
                font-size: clamp(2.2rem, 2.708vw, 5.2rem);
                letter-spacing: -0.208rem;
                text-align: center;
                color: $white;
            }

            p {
                // font-size: 2.4rem;
                font-size: clamp(1.6rem, 1.25vw, 2.4rem);
                letter-spacing: -0.096rem;
                color: $white;
            }

            @include tablet {
                margin-bottom: 8rem;
                padding-top: 8rem;

                strong {
                    font-size: 2.2rem;
                    letter-spacing: -0.088rem;
                }

                p {
                    font-size: 1.6rem;
                    letter-spacing: -0.064rem;
                }
            }
        }

        .img-wrap {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
            max-width: 100rem;
            max-height: 58.5rem;
            margin: 0 auto;

            .circle {
                width: 26rem;
                height: 26rem;
                border-radius: 50%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                display: none;
            }

            .ellipse {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                background-size: contain;
                background-position: center bottom;
                background-repeat: no-repeat;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
                max-width: 60rem;
                max-height: 45rem;
                background-size: contain;
                background-position: center bottom;
                background-repeat: no-repeat;
            }
        }

        @include notebook {
            height: calc(100vh - 8rem);
            min-height: auto;

            .img-wrap {
                width: 70%;

                &::before {
                    max-width: 40rem;
                    max-height: 30rem;
                }
            }
        }

        @include tablet {
            max-height: 70rem;

            .img-wrap {
                height: auto;
                position: unset;
                transform: translateX(0);
                text-align: center;

                &::before {
                    display: none;
                }

                .circle {
                    display: inline-block;
                }

                .ellipse {
                    display: none;
                }
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 30rem;
                height: 22.5rem;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 3;
            }
        }
    }

    &.sec05 {
        background-color: $pink;

        .img-wrap {
            .circle {
                background-image: url(../../../assets/images/main/main_01.png);
            }

            .ellipse {
                background-image: url(../../../assets/images/main/main_ellipse_01.png);
            }

            &::before {
                left: -22%;
                background-image: url(../../../assets/images/main/figure-01.svg);
            }

            @include notebook {
                &::before {
                    left: -15%;
                }
            }
        }

        &::before {
            background-image: url(../../../assets/images/main/figure-01.svg);
        }
    }

    &.sec06 {
        background-color: $green_80;

        .img-wrap {
            .circle {
                background-image: url(../../../assets/images/main/main_02.png);
            }

            .ellipse {
                background-image: url(../../../assets/images/main/main_ellipse_02.png);
            }

            &::before {
                right: -34%;
                background-image: url(../../../assets/images/main/figure-02.svg);
            }

            @include notebook {
                &::before {
                    right: -20%;
                }
            }
        }

        &::before {
            background-image: url(../../../assets/images/main/figure-02.svg);
        }
    }

    &.sec07 {
        background-color: $purple_40;

        .img-wrap {
            .circle {
                background-image: url(../../../assets/images/main/main_03.png);
            }

            .ellipse {
                background-image: url(../../../assets/images/main/main_ellipse_03.png);
            }

            &::before {
                bottom: -12%;
                left: -33%;
                background-image: url(../../../assets/images/main/figure-03.svg);
            }

            @include notebook {
                &::before {
                    bottom: -10%;
                    left: -20%;
                }
            }
        }

        &::before {
            bottom: -8%;
            left: 60%;
            background-image: url(../../../assets/images/main/figure-03.svg);
        }
    }

    &.sec08 {
        background-color: $orange_40;

        .img-wrap {
            .circle {
                background-image: url(../../../assets/images/main/main_04.png);
            }

            .ellipse {
                background-image: url(../../../assets/images/main/main_ellipse_04.png);
            }

            &::before {
                right: -33%;
                background-image: url(../../../assets/images/main/figure-04.svg);
            }

            @include notebook {
                &::before {
                    right: -15%;
                }
            }
        }

        &::before {
            background-image: url(../../../assets/images/main/figure-04.svg);
        }
    }

    &.sec09 {
        top: 8rem;
        max-height: 113rem;
        padding: 14.3rem 0 10.7rem 0;
        background-image: url(../../../assets/images/main/section_09_bg.png);
        background-repeat: repeat;
        overflow: hidden;

        .tit-wrap {
            @include flexbox(column, center, center);
            margin-bottom: 19.5rem;

            strong,
            p {
                text-align: center;
            }
        }

        .dynamic-swiper {
            max-width: 144.2rem;
            height: 54.2rem;
            margin: 0 auto;

            .swiper-wrapper {
                width: 100%;
                @include flexbox(row, center, start);
                gap: 7.6rem;

                .swiper-slide {
                    position: relative;
                    width: 37.4rem;
                    height: 26.3rem;
                    @include flexbox(row, center, center);

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -40%);
                        width: 57.4rem;
                        height: 57.4rem;
                        border-radius: 50%;
                        background-color: $white;
                        z-index: -1;
                    }

                    .slide-inner {
                        @include flexbox(column, center, center);

                        .num {
                            @include flexbox(column, center, center);
                            width: 8.7rem;
                            height: 8.7rem;
                            border-radius: 50%;
                            margin-bottom: 5rem;
                            color: $gray_100;
                            text-align: center;
                            font-family: $AntiqueOlive;
                            font-size: 4rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            letter-spacing: -0.16rem;
                            text-transform: uppercase;

                            &.num01 {
                                background-color: $pink;
                            }

                            &.num02 {
                                background-color: $purple_10;
                            }

                            &.num03 {
                                background-color: $green_50;
                            }
                        }

                        .title {
                            color: $gray_100;
                            text-align: center;
                            font-family: Pretendard;
                            font-size: 3.6rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 150%;
                            letter-spacing: -0.144rem;
                            margin-bottom: 1.2rem;
                        }

                        .desc {
                            color: $gray_100;
                            text-align: center;
                            font-family: "Pretendard";
                            font-size: 2rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            letter-spacing: -0.08rem;
                        }
                    }

                    @for $i from 1 through 3 {
                        &:nth-child(#{$i}) {
                            transition-delay: #{$i * 0.1}s;
                        }
                    }
                }
            }
        }

        @include notebook {
            .dynamic-swiper {
                width: 100%;
                height: 33.5rem;
                margin: 0 auto;

                .swiper-wrapper {
                    width: 100%;
                    gap: 0.9rem;

                    .swiper-slide {
                        position: relative;
                        width: 26.9rem;
                        height: 11.3rem;
                        @include flexbox(row, center, center);

                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 33.5rem;
                            height: 33.5rem;
                            border-radius: 50%;
                            background-color: $white;
                            z-index: -1;
                        }

                        .slide-inner {
                            .num {
                                width: 3.861rem;
                                height: 3.861rem;
                                margin-bottom: 2.23rem;
                                font-size: 2rem;

                                letter-spacing: -0.16rem;

                                &.num01 {
                                    background-color: $pink;
                                }

                                &.num02 {
                                    background-color: $purple_10;
                                }

                                &.num03 {
                                    background-color: $green_50;
                                }
                            }

                            .title {
                                font-size: 2.2rem;
                                letter-spacing: -0.088rem;
                            }

                            .desc {
                                font-size: 1.6rem;
                                letter-spacing: -0.064rem;
                            }
                        }

                        @for $i from 1 through 3 {
                            &:nth-child(#{$i}) {
                                transition-delay: #{$i * 0.1}s;
                            }
                        }

                        &.swiper-slide-active {
                            z-index: 2;
                        }

                        &.swiper-slide-next {
                            z-index: 1;
                        }

                        &.swiper-slide-prev {
                            z-index: 0;
                        }
                    }
                }
            }
        }

        @include tablet {
            .dynamic-swiper {
                width: 100%;
                height: 33.5rem;
                margin: 0 auto;

                .swiper-wrapper {
                    width: 100%;
                    gap: 0.9rem;

                    .swiper-slide {
                        position: relative;
                        width: 26.9rem;
                        height: 11.3rem;
                        @include flexbox(row, center, center);

                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 33.5rem;
                            height: 33.5rem;
                            border-radius: 50%;
                            background-color: $white;
                            z-index: -1;
                        }

                        .slide-inner {
                            .num {
                                width: 3.861rem;
                                height: 3.861rem;
                                margin-bottom: 2.23rem;
                                font-size: 2rem;

                                letter-spacing: -0.16rem;

                                &.num01 {
                                    background-color: $pink;
                                }

                                &.num02 {
                                    background-color: $purple_10;
                                }

                                &.num03 {
                                    background-color: $green_50;
                                }
                            }

                            .title {
                                font-size: 2.2rem;
                                letter-spacing: -0.088rem;
                            }

                            .desc {
                                font-size: 1.6rem;
                                letter-spacing: -0.064rem;
                            }
                        }

                        @for $i from 1 through 3 {
                            &:nth-child(#{$i}) {
                                transition-delay: #{$i * 0.1}s;
                            }
                        }

                        &.swiper-slide-active {
                            z-index: 2;
                        }

                        &.swiper-slide-next {
                            z-index: 1;
                        }

                        &.swiper-slide-prev {
                            z-index: 0;
                        }
                    }
                }
            }
        }
    }
}