.price {
    &.sec01 {
        background-color: $bg;
        padding-top: 12.6rem;
        padding-bottom: 4.6rem;

        @include tablet {
            padding-top: 10.2rem;
            padding-bottom: 4rem;
        }

        .tit-wrap {
            margin-bottom: 6rem;
        }

        .price-card-wrap {
            >ul {
                width: 100%;
                @include flexbox(row, flex-start, flex-start);
                flex-wrap: wrap;
                gap: 2rem;

                @include tablet {
                    @include flexbox(column, flex-start, center);
                    gap: 2.4rem;
                }

                .card {
                    width: calc(25% - 1.5rem);
                    border-radius: 1.6rem;
                    background: $white;
                    overflow: hidden;

                    @media (max-width: 1400px) {
                        width: calc(50% - 1rem);
                        // max-width: 34.5rem;
                    }

                    @include tablet {
                        width: 100%;
                        // max-width: 34.5rem;
                    }

                    .title {
                        color: $white;
                        padding: 2rem;
                        @include flexbox(column, center, flex-start);

                        .tag {
                            font-size: 1.5rem;
                            font-weight: 700;
                            background: $white;
                            border-radius: 6.4rem;
                            padding: 0.5rem 1.6rem;
                            margin-bottom: 2rem;
                        }

                        .type-tit {
                            font-size: 3.6rem;
                            font-weight: 700;
                        }

                        .price-desc {
                            font-size: 2.4rem;

                            span {
                                font-weight: 700;
                            }
                        }
                    }

                    &.pink {
                        .title {
                            background: $pink;

                            .tag {
                                color: $pink;
                            }
                        }

                        .info {
                            ul {
                                &:nth-of-type(2) {
                                    li {
                                        &::before {
                                            background: url(../../../assets/images/icon/check-circle-pink.svg) no-repeat center/contain;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.green {
                        .title {
                            background: $green_80;

                            .tag {
                                color: $green_80;
                            }
                        }

                        .info {
                            ul {
                                &:nth-of-type(2) {
                                    li {
                                        &::before {
                                            background: url(../../../assets/images/icon/check-circle-green.svg) no-repeat center/contain;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.purple {
                        .title {
                            background: $purple_40;

                            .tag {
                                color: $purple_40;
                            }
                        }

                        .info {
                            ul {
                                &:nth-of-type(2) {
                                    li {
                                        &::before {
                                            background: url(../../../assets/images/icon/check-circle-purple.svg) no-repeat center/contain;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.orange {
                        .title {
                            background: $orange_40;

                            .tag {
                                color: $orange_40;
                            }
                        }

                        .info {
                            ul {
                                &:nth-of-type(2) {
                                    li {
                                        &::before {
                                            background: url(../../../assets/images/icon/check-circle-orange.svg) no-repeat center/contain;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .info {
                        padding: 3rem;
                        @include flexbox(column, space-between, flex-start);

                        .txt-wrap {
                            p {
                                width: 100%;
                                padding-bottom: 0.8rem;
                                font-size: 1.8rem;
                                font-weight: 700;
                            }

                            ul {
                                @include flexbox(column, center, flex-start);
                                gap: 0.4rem;
                                padding-bottom: 2rem;

                                &:first-of-type {
                                    padding-bottom: 2rem;

                                    li {
                                        &::before {
                                            background: url(../../../assets/images/icon/info.png) no-repeat center $gray_70;
                                        }
                                    }
                                }

                                li {
                                    position: relative;
                                    font-size: 1.5rem;
                                    @include flexbox(row, flex-start, center);
                                    gap: 1rem;

                                    &::before {
                                        content: "";
                                        display: inline-block;
                                        width: 1.6rem;
                                        height: 1.6rem;
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }

                        .btn-wrap {
                            margin-top: 3rem;
                            width: 100%;

                            button {
                                border: 1px solid $gray_10;
                                color: $gray_100;
                                background: $white;
                                width: 100%;
                                height: 4.8rem;

                                &:hover {
                                    color: $white;
                                    background: $gray_100;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.sec02 {
        padding-top: 10rem;
        padding-bottom: 10rem;
        background: $white;

        >.inner {
            @include notebook {
                width: calc(100% - 2rem);
                margin: 0 auto;
            }
        }

        .tit-wrap {
            margin-bottom: 6rem;
        }

        .search-wrap {
            width: calc(100% - 4rem);
            max-width: 1440px;
            margin: 0 auto;
            padding: 5rem 6rem;
            margin-bottom: 4rem;
            border-radius: 1.6rem;
            @include flexbox(row, space-between, center);
            gap: 2rem;
            flex-wrap: wrap;

            @media (max-width: 1400px) {
                justify-content: center;
            }

            @include tablet {
                width: 100%;
                padding: 4rem 0;
                border-radius: 0;
                margin-bottom: 2.4rem;
            }

            &.pink {
                background: $pink;
            }

            &.green {
                background: $green_80;
            }

            &.purple {
                background: $purple_40;
            }

            &.orange {
                background: $orange_40;
            }

            .search-tit {
                strong {
                    font-size: 3.4rem;
                    font-weight: 700;
                    color: $white;

                    @include tablet {
                        font-size: 2.1rem;
                    }
                }

                p {
                    padding-top: 0.4rem;
                    font-size: 2rem;
                    color: rgba(255, 255, 255, 0.8);

                    @media (max-width: 1400px) {
                        text-align: center;
                    }

                    @include tablet {
                        font-size: 1.4rem;
                    }
                }
            }

            .con-wrap {
                @include flexbox(row, flex-end, center);
                gap: 1.2rem;
                flex-wrap: wrap;

                @media (max-width: 1400px) {
                    justify-content: center;
                }

                @include tablet {
                    width: calc(100% - 4rem);
                    margin: 0 auto;
                }

                .select-box {
                    @include tablet {
                        width: 100%;
                    }

                    .select-item {
                        @include tablet {
                            width: 100%;
                        }
                    }
                }

                .btn-wrap {
                    @include flexbox(row, flex-end, center);
                    gap: 1.2rem;

                    @media (max-width: 1400px) {
                        justify-content: center;
                    }

                    @include tablet {
                        width: 100%;
                    }

                    button {
                        width: 16rem;
                        height: 6.4rem;

                        @include tablet {
                            width: calc(50% - 0.8rem);
                            height: 4.8rem;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }

        .tb-wrap {
            position: relative;
            margin-bottom: 6rem;

            @include notebook {
                padding-right: 2rem;
                overflow-x: auto;
                -ms-overflow-style: none;
                /* IE, Edge */
                scrollbar-width: none;

                /* Firefox */
                &::-webkit-scrollbar {
                    display: none !important;
                    /* Chrome, Safari, Opera */
                }

                cursor: grab;
                user-select: none;
                /* 선택 방지 */
                -webkit-overflow-scrolling: touch;
                /* iOS 자연 스크롤 */
            }

            &.pink {
                table {
                    span {
                        &.include {
                            background: url(../../../assets/images/icon/check-circle-pink.svg) no-repeat center/contain;
                        }
                    }
                }
            }

            &.green {
                table {
                    span {
                        &.include {
                            background: url(../../../assets/images/icon/check-circle-green.svg) no-repeat center/contain;
                        }
                    }
                }
            }

            &.purple {
                table {
                    span {
                        &.include {
                            background: url(../../../assets/images/icon/check-circle-purple.svg) no-repeat center/contain;
                        }
                    }
                }
            }

            &.orange {
                table {
                    span {
                        &.include {
                            background: url(../../../assets/images/icon/check-circle-orange.svg) no-repeat center/contain;
                        }
                    }
                }
            }

            table {
                width: 100%;
                min-width: 1110px;

                @include tablet {
                    min-width: 900px;
                }

                thead {

                    // border-bottom: 1px solid $black;
                    tr {
                        th {
                            padding: 1.1rem 1.6rem;
                            font-size: 3rem;
                            font-weight: 700;
                            background: $white;

                            @include tablet {
                                font-size: 2.8rem;
                            }

                            &:first-of-type {
                                position: sticky;
                                left: 0;
                            }
                        }
                    }
                }

                tbody {
                    border-top: 1px solid $black;

                    tr {
                        &:not(:last-child) {
                            border-bottom: 1px solid #c2c4c8;
                        }

                        &:not( :nth-last-of-type(2),
                            :nth-last-of-type(3),
                            :nth-last-of-type(4),
                            :nth-last-of-type(5),
                            :nth-last-of-type(6)) {
                            td {
                                &:first-of-type {
                                    position: sticky;
                                    left: 0;
                                    text-align: left;
                                    z-index: 1;
                                }
                            }
                        }

                        &:not( :nth-last-of-type(1),
                            :nth-last-of-type(2),
                            :nth-last-of-type(3),
                            :nth-last-of-type(4),
                            :nth-last-of-type(5),
                            :nth-last-of-type(6)) {
                            td {
                                &:first-of-type {
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                        width: 1px;
                                        height: 100%;
                                        background: #c2c4c8;
                                    }
                                }
                            }
                        }

                        &:nth-last-of-type(2) {
                            border-bottom: 1px solid $black;
                        }

                        td {
                            padding: 1.2rem 2rem;
                            font-size: 1.6rem;
                            font-weight: 500;
                            color: #24252e;
                            text-align: center;
                            white-space: nowrap;
                            background: $white;

                            @include tablet {
                                font-size: 1.3rem;

                                &:not(:first-of-type) {
                                    font-size: 1.4rem;
                                }
                            }

                            &:first-of-type {
                                font-weight: 700;
                            }

                            span {
                                display: inline-block;
                                width: 2.4rem;
                                height: 2.4rem;
                                border-radius: 50%;

                                &.exclude {
                                    background: url(../../../assets/images/icon/exclude.png) no-repeat center #e8e9ec;
                                }
                            }

                            &.btn_wrap {
                                padding: 1.6rem 1.1rem;

                                button {
                                    width: 100%;
                                    padding: 1.7rem 2.3rem;
                                }

                                @include tablet {
                                    button {
                                        font-size: 1.4rem;
                                        padding: 1.45rem 2.3rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // .btn-wrap {
            //   position: relative;
            //   width: 100%;
            //   @include flexbox(row, flex-start, center);
            //   gap: 2.2rem;
            //   @include tablet {
            //     min-width: 900px;
            //   }
            //   button {
            //     flex: 1;
            //     height: 4.6rem;
            //     white-space: nowrap;
            //     @include tablet {
            //       width: 14.8rem;
            //       font-size: 1.4rem;
            //     }
            //   }
            // }
        }

        .notice {
            width: 100%;
            margin-left: auto;
            padding: 3rem;
            background-color: $gray_1;
            border-radius: 2rem;

            p {
                font-size: 2rem;
                font-weight: 700;
            }

            ul {
                li {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;

    .dim {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
    }

    &[aria-modal="false"] {
        display: none;
    }

    &[aria-modal="true"] {
        display: block;
    }

    .modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        .modal_header {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 11.2rem;
            z-index: 10;
            overflow: hidden;

            .center_header {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .btn_wrap {
                    @include flexbox(row, center, center);
                    color: $gray_50;
                    background-color: $gray_100;
                    border-radius: 0.8rem;

                    button {
                        width: 18rem !important;
                        gap: 0;

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 2.4rem;
                            height: 2.4rem;
                            margin-right: 1rem;
                        }

                        &.pc_tab {
                            &[aria-selected="false"] {
                                &::before {
                                    background: url(../../../assets/images/icon/pc_gray.svg) no-repeat center/contain;
                                }
                            }

                            &[aria-selected="true"] {
                                &::before {
                                    background: url(../../../assets/images/icon/pc_white.svg) no-repeat center/contain;
                                }
                            }
                        }

                        &.mb_tab {
                            &[aria-selected="false"] {
                                &::before {
                                    background: url(../../../assets/images/icon/mobile_gray.svg) no-repeat center/contain;
                                }
                            }

                            &[aria-selected="true"] {
                                &::before {
                                    background: url(../../../assets/images/icon/mobile_white.svg) no-repeat center/contain;
                                }
                            }
                        }
                    }

                    @include tablet {
                        button {
                            width: 16rem !important;
                        }
                    }
                }
            }

            .right_header {
                position: absolute;
                top: 50%;
                right: 3rem;
                transform: translateY(-50%);
                @include flexbox(row, center, center);
                gap: 0.8rem;

                button {
                    background-color: $gray_80;
                }
            }

            button {
                height: 5.2rem;
                padding: 0 1.6rem;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 2.4rem;
                letter-spacing: -0.04rem;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                background-color: $gray_90;

                &[aria-selected="true"] {
                    color: #fff;
                    background-color: $gray_80;
                }

                &[aria-selected="false"] {
                    color: $gray_50;
                    background-color: $gray_100;
                }

                @include tablet {
                    height: 4.8rem;
                    font-size: 1.4rem;
                    padding: 0 0.8rem;

                    &::before {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }

            .close_btn {
                @include flexbox(row, center, center);
                padding: 0 1.6rem;

                &::before {
                    content: "";
                    display: inline-block;
                    width: 2.4rem;
                    height: 2.4rem;
                    background: url(../../../assets/images/icon/close.svg) no-repeat center/contain;
                }

                @include tablet {
                    height: 4.8rem;
                    padding: 0 1.2rem;
                }

                @include mobile_plus {
                    padding: 0;
                    height: 2.4rem;
                    background-color: transparent;

                    &::before {
                        width: 2.4rem;
                        height: 2.4rem;
                    }
                }
            }

            @include mobile_plus {
                height: 6.2rem;
                background-color: $gray_100;
                padding: 1.6rem 2rem;
                @include flexbox(row, space-between, center);

                h1 {
                    display: none;
                    font-size: 2rem;
                    font-weight: 700;
                    color: $white;
                }
            }
        }

        .modal_body {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: auto;
            margin-top: 11.2rem;
            padding: 2.8rem;
            z-index: 1;

            .inner {
                width: 100%;
                height: calc(100vh - 17.6rem);
                max-height: 80rem;
                margin: 0 auto;
                overflow-y: overlay;
                overflow-x: hidden;
                background: #fff;
                border-radius: 2rem;

                &::-webkit-scrollbar {
                    width: 14px;
                    height: 14px;
                }

                &::-webkit-scrollbar-thumb {
                    outline: none;
                    border-radius: 10px;
                    border: 4px solid transparent;
                    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.15);
                }

                &::-webkit-scrollbar-thumb:hover {
                    border: 4px solid transparent;
                    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.3);
                }

                &::-webkit-scrollbar-track {
                    box-shadow: none;
                    background-color: transparent;
                }

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    object-fit: contain;
                    object-position: center;
                }
            }

            @include tablet {
                margin-top: 8rem;

                .inner {
                    max-height: 62rem;
                }
            }

            @include mobile_plus {
                margin-top: 6.2rem;
                padding: 0;

                .inner {
                    border-radius: 0;

                    &[data-mode="mb"] {
                        max-width: 100%;

                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }

        .modal_footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 2rem;
            gap: 1rem;
            background-color: $white;
            border-radius: 2rem 2rem 0 0;
            z-index: 10;
            box-shadow: 0 -0.4rem 1.6rem 0 rgba(0, 0, 0, 0.08);

            @include tablet {
                &.bp-mb {
                    @include flexbox(column, center, center);
                }
            }

            .desc {
                color: $gray_100;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.37;
                letter-spacing: -0.064rem;
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
            }

            button {
                width: 100%;
                height: 4.6rem;
                background-color: $gray_100;
                color: $white;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.032rem;
                padding: 0 2.3rem;
                border-radius: 0.8rem;
            }
        }
    }

    &[data-mode="pc"] {
        .modal_body {
            .inner {
                max-width: 128rem;
            }
        }
    }

    &[data-mode="mb"] {
        .modal_body {
            .inner {
                max-width: 37.5rem;

                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 4.5rem;
                    background-image: url(../../../assets/images/price/mb_header.png);
                    background-repeat: no-repeat;
                    background-position: top center;
                    background-size: contain;
                    background-color: #fff;
                    position: sticky;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }

                @include mobile_plus {
                    position: relative;
                    max-width: 100%;
                    height: calc(100vh - 12.6rem);
                    max-height: 100%;
                }
            }
        }
    }

    &[data-type="business"] {
        .modal_header {
            h1 {
                &.business {
                    display: block;
                }
            }
        }
    }

    &[data-type="hospital"] {
        .modal_header {
            h1 {
                &.hospital {
                    display: block;
                }
            }
        }
    }

    &[data-type="education"] {
        .modal_header {
            h1 {
                &.education {
                    display: block;
                }
            }
        }
    }

    &[data-type="interior"] {
        .modal_header {
            h1 {
                &.interior {
                    display: block;
                }
            }
        }
    }

    .bp-pc {
        display: block !important;
    }

    .bp-mb {
        display: none !important;
    }

    .bp-tb {
        display: none !important;
    }

    .hidden-tb {
        display: block !important;
    }

    @include tablet {
        .bp-tb {
            display: flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .hidden-tb {
            display: none !important;
        }
    }

    @include mobile_plus {
        .bp-pc {
            display: none !important;
        }

        .bp-mb {
            display: flex !important;
        }

        .hidden-tb {
            display: block !important;
        }
    }
}