@import "../base/util.scss";
@import "../base/color.scss";

@keyframes processBefore {
    0% {
        height: 0;
    }

    100% {
        height: 24.5rem;
        opacity: 1;
    }
}

@keyframes processBeforeMo {
    0% {
        height: 0;
    }

    100% {
        height: 22.5rem;
        opacity: 1;
    }
}

@keyframes processAll {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes imgMoveLeft {
    0% {
        left: 30%;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes imgMoveRight {
    0% {
        right: 30%;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

/* 서비스 소개 페이지 */
.service {
    &.visual {
        position: relative;
        background-color: $bg;
        overflow: hidden;
        height: 96rem;

        .inner {
            position: relative;
            margin-top: 20.7rem;
            width: 100%;
            @include flexbox(row, space-between, center);
            padding-top: 8rem;
            padding-left: 4rem;
            z-index: 2;

            .tit-wrap {
                padding-bottom: 0;
                align-items: start;

                strong {
                    text-align: left;
                }

                p {
                    text-align: left;
                    font-size: 2.4rem;
                    font-weight: 500;
                    line-height: 1.37;
                }

                button {
                    margin-top: 4rem;
                }
            }

            .figure {
                max-width: 49.8rem;
                max-height: 51.6rem;
                padding-right: 4rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                    animation: upDown 2s infinite;
                }
            }
        }

        .bg-square {
            position: absolute;
            width: 30.6rem;
            height: 26.546rem;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1;

            &.pink {
                top: 10.6rem;
                left: -3%;
                background-image: url(../../../assets/images/service/bg_square_pink.svg);
            }

            &.green {
                top: 10.6rem;
                right: -3%;
                background-image: url(../../../assets/images/service/bg_square_green.svg);
            }

            &.beige {
                bottom: -10%;
                right: 30%;
                background-image: url(../../../assets/images/service/bg_square_beige.svg);
            }
        }

        @include tablet {
            height: 73.2rem;

            .inner {
                margin-top: 5.2rem;
                padding-top: 6.2rem;
                padding-left: 0;
                justify-content: center;
                flex-direction: column;
                gap: 8rem;


                .tit-wrap {
                    // margin-top: 5.3rem;
                    justify-content: center;
                    align-items: center;

                    strong {
                        text-align: center;
                        font-size: 2.4rem;
                        line-height: 1.5;
                    }

                    p {
                        font-size: 1.6rem;
                        line-height: 1.37;
                    }

                    button {
                        margin-top: 2.4rem;
                        font-size: 1.6rem;
                        line-height: 1.5;
                    }
                }

                .figure {
                    padding-right: 0;
                    max-width: 24rem;
                    max-height: 24.9rem;
                }
            }

            .bg-square {
                width: 20rem;
                height: 17.351rem;

                &.pink {
                    top: 37.3rem;
                    left: -10rem;
                }

                &.green {
                    top: 29.2rem;
                    right: -10rem;
                }

                &.beige {
                    bottom: -10%;
                    right: 30%;
                }
            }
        }
    }

    &.sec02 {
        padding: 20rem 0;
        background: $white;
        @include tablet {
            padding: 16rem 0 9.7rem;
        }
        .inner {
            max-width: 1290px;
            .tit-wrap {
                margin-bottom: 10rem;
                gap: 1.6rem;
                @include tablet {
                    gap: 1.2rem;
                    strong {
                        font-size: 2.8rem;
                    }
                    p {
                        font-size: 1.6rem;
                    }
                }
            }
            .manage-card-wrap {
                width: 100%;
                > ul {
                    width: 100%;
                    @include flexbox(column, flex-start, center);
                    gap: 10rem;
                    > li {
                        position: relative;
                        width: 100%;
                        height: 37.9rem;
                        .img-wrap {
                            width: 37.9rem;
                            height: 100%;
                            border-radius: 50%;
                            z-index: 1;
                        }
                        .info {
                            width: 96.6rem;
                            height: 100%;
                            padding: 0 10rem;
                            border-radius: 28rem;
                            z-index: 2;
                            @include flexbox(row, space-between, center);
                            .left-cont {
                                .title {
                                    font-size: 4rem;
                                    font-weight: 700;
                                    color: $white;
                                }
                                .tag-wrap {
                                    padding-top: 2.4rem;
                                    @include flexbox(row, flex-start, center);
                                    gap: .6rem;
                                    .tag {
                                        padding: .8rem 1.6rem;
                                        font-size: 1.8rem;
                                        font-weight: 700;
                                        border-radius: 6.5rem;
                                        background: $white;
                                    }
                                }
                            }
                            .right-cont {
                                position: relative;
                                .desc {
                                    li {
                                        font-size: 2.4rem;
                                        font-weight: 500;
                                        line-height: 1.8;
                                        color: $white;
                                    }
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: -4.1rem;
                                        transform: translateY(-50%);
                                        width: 1px;
                                        height: 17.9rem;
                                        background: $white;
                                    }
                                }
                            }
                        }
                        &:not(.reverse) {
                            @include flexbox(row, flex-end, center);
                            .img-wrap {
                                position: absolute;
                                top: 0;
                                left: 30%;
                            }
                            &.on {
                                .img-wrap {
                                    animation: imgMoveLeft 2s forwards;
                                }
                            }
                        }
                        &.reverse {
                            @include flexbox(row, flex-start, center);
                            .img-wrap {
                                position: absolute;
                                top: 0;
                                right: 30%;
                            }
                            &.on {
                                .img-wrap {
                                    animation: imgMoveRight 2s forwards;
                                }
                            }
                        }
                        &.item01 {
                            .img-wrap {
                                background: url(../../../assets/images/sub/manage_card_item01.png) no-repeat center/cover;
                            }
                            .info {
                                background: $pink;
                                .tag-wrap {
                                    .tag {
                                        color: $pink;
                                    }
                                }
                            }
                        }
                        &.item02 {
                            .img-wrap {
                                background: url(../../../assets/images/sub/manage_card_item02.png) no-repeat center/cover;
                            }
                            .info {
                                background: $purple_40;
                                .tag-wrap {
                                    .tag {
                                        color: $purple_40;
                                    }
                                }
                            }
                        }
                        &.item03 {
                            .img-wrap {
                                background: url(../../../assets/images/sub/manage_card_item03.png) no-repeat center left/cover;
                            }
                            .info {
                                background: $green_80;
                                .tag-wrap {
                                    .tag {
                                        color: $green_80;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @include notebook {
            .inner {
                max-width: 1032px;
                .manage-card-wrap {
                    > ul {
                        > li {
                            height: 30.32rem;
                            .img-wrap {
                                width: 30.32rem;
                            }
                            .info {
                                width: 77.28rem;
                                padding: 0 8rem;
                                .left-cont {
                                    .title {
                                        font-size: 3.2rem;
                                    }
                                    .tag-wrap {
                                        .tag {
                                            padding: .64rem 1.28rem;
                                            font-size: 1.44rem;
                                        }
                                    }
                                }
                                .right-cont {
                                    .desc {
                                        li {
                                            font-size: 1.92rem;
                                        }
                                        &::before {
                                            height: 14.32rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 1024px) {
            .inner {
                max-width: 77.4rem;
                .manage-card-wrap {
                    > ul {
                        > li {
                            height: 22.74rem;
                            .img-wrap {
                                width: 22.74rem;
                            }
                            .info {
                                width: 57.96rem;
                                padding: 0 6rem;
                                .left-cont {
                                    .title {
                                        font-size: 2.4rem;
                                    }
                                    .tag-wrap {
                                        .tag {
                                            padding: .48rem .96rem;
                                            font-size: 1.08rem;
                                        }
                                    }
                                }
                                .right-cont {
                                    .desc {
                                        li {
                                            font-size: 1.44rem;
                                        }
                                        &::before {
                                            height: 10.74rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @include tablet {
            .inner {
                .manage-card-wrap {
                    > ul {
                        > li {
                            height: 81rem;
                            &:not(.reverse) {
                                @include flexbox(column, flex-end, center);
                                .img-wrap {
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                            }
                            &.reverse {
                                @include flexbox(column, flex-end, center);
                                .img-wrap {
                                    left: 50%;
                                    right: auto;
                                    transform: translateX(-50%);
                                }
                            }
                            .img-wrap {
                                width: 33.5rem;
                                height: 33.5rem;
                            }
                            .info {
                                width: 33.5rem;
                                height: 52.1rem;
                                padding: 0 2rem;
                                @include flexbox(column, center, center);
                                gap: 4.8rem;
                                .left-cont {
                                    @include flexbox(column, flex-start, center);
                                    .title {
                                        text-align: center;
                                    }
                                    .tag-wrap {
                                        padding-top: 1.6rem;
                                        .tag {
                                            padding: .4rem 1.2rem;
                                            font-size: 1.4rem;
                                        }
                                    }
                                }
                                .right-cont {
                                    .desc {
                                        @include flexbox(column, flex-start, center);
                                        li {
                                            font-size: 1.6rem;
                                        }
                                        &::before {
                                            top: -2.4rem;
                                            left: 50%;
                                            transform: translateX(-50%);
                                            width: 29.5rem;
                                            height: 1px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.sec03 {
        background-image: url(../../../assets/images/main/section_09_bg.png);
        padding: 10rem 0 23.4rem;

        @include tablet {
            padding: 10rem 0;
        }

        .inner {
            @include notebook {
                width: 100%;
            }

            .tit-wrap {
                margin-bottom: 7.4rem;
            }
        }

        .icon-card-wrap {
            width: 100%;
            max-width: 1320px;
            margin: 0 auto;

            @include notebook {
                padding-left: 2rem;
            }

            >div {
                @include notebook {
                    margin-right: 2rem;
                    overflow-x: auto;
                    -ms-overflow-style: none;
                    /* IE, Edge */
                    scrollbar-width: none;

                    /* Firefox */
                    &::-webkit-scrollbar {
                        display: none !important;
                        /* Chrome, Safari, Opera */
                    }

                    cursor: grab;
                    user-select: none;
                    /* 선택 방지 */
                    -webkit-overflow-scrolling: touch;
                    /* iOS 자연 스크롤 */
                }

                ul {
                    width: 100%;
                    @include flexbox(row, flex-start, flex-start);
                    gap: 2rem;

                    &:first-child {
                        padding-bottom: 2rem;

                        @for $i from 1 through 5 {
                            li {
                                &:nth-child(#{$i}) {
                                    .img-wrap {
                                        $icon-path: "../../../assets/images/service/icon_0#{$i}.svg";
                                        background: url($icon-path) no-repeat center;

                                        @include tablet {
                                            background-size: 9rem;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:last-child {
                        @for $i from 6 through 10 {
                            li {
                                &:nth-child(#{$i - 5}) {
                                    .img-wrap {
                                        @if $i ==10 {
                                            background: url("../../../assets/images/service/icon_#{$i}.svg") no-repeat center/contain;
                                        }

                                        @else {
                                            background: url("../../../assets/images/service/icon_0#{$i}.svg") no-repeat center/contain;
                                        }

                                        @include tablet {
                                            background-size: 9rem;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    li {
                        width: calc(20% - 1.6rem);
                        padding: 4rem 2rem 4.5rem;
                        border-radius: 1.6rem;
                        background: $white;
                        @include flexbox(column, center, center);
                        gap: 2rem;
                        transition: transform 0.3s ease;

                        @include notebook {
                            flex-shrink: 0;
                            width: 24.8rem;
                        }

                        @include tablet {
                            width: 16rem;
                            padding: 3rem 2rem;
                        }

                        .img-wrap {
                            width: 15rem;
                            height: 15rem;
                            border-radius: 50%;
                            background: $white;

                            @include tablet {
                                width: 9rem;
                                height: 9rem;
                            }
                        }

                        span {
                            font-size: 2.2rem;
                            font-weight: 700;
                            white-space: nowrap;

                            @include tablet {
                                font-size: 1.4rem;
                            }
                        }

                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }

    &.sec04 {
        padding: 20rem 0;
        background: $white;

        @include tablet {
            padding: 10rem 0;
        }

        .tit-wrap {
            margin-bottom: 8rem;

            p {
                display: none;

                @include notebook {
                    display: block;
                    text-align: center;
                }
            }
        }

        .notice {
            width: calc(100% - 4rem);
            max-width: 1440px;
            padding: 5rem 6rem;
            margin: 0 auto;
            margin-bottom: 14rem;
            border-radius: 1.6rem;
            background: $black;
            @include flexbox(row, flex-start, center);
            gap: 13.1rem;

            @include notebook {
                padding: 4rem 2rem;
                justify-content: center;
                gap: 0;
            }

            .left {
                p {
                    font-size: 3.4rem;
                    font-weight: 700;
                    color: $white;

                    @include notebook {
                        display: none;
                    }
                }
            }

            .right {
                >p {
                    margin-bottom: 0.6rem;
                    font-size: 2rem;
                    font-weight: 700;
                    color: $white;

                    @include tablet {
                        font-size: 1.6rem;
                    }

                    @include mobile {
                        text-align: center;
                    }
                }

                ul {
                    width: 100%;

                    li {
                        @include flexbox(row, flex-start, flex-start);
                        gap: 0.8rem;

                        span,
                        p {
                            font-size: 1.6rem;
                            color: $white;
                            line-height: 1.7;

                            @include tablet {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }

        .process-wrap {
            .process {
                ul {
                    margin: 0 auto;
                    max-width: 78.9rem;
                    @include flexbox(column, flex-start, flex-start);
                    gap: 12rem;

                    @include tablet {
                        gap: 8rem;
                        align-items: center;
                    }

                    li {
                        position: relative;
                        min-height: 18.2rem;
                        @include flexbox(row, flex-start, flex-start);
                        opacity: 0;

                        &::before {
                            position: relative;
                            z-index: 2;
                            content: "";
                            display: block;
                            width: 6rem;
                            height: 6rem;
                            line-height: 6rem;
                            border-radius: 50%;
                            margin-right: 2.1rem;
                            aspect-ratio: 1 / 1;
                            text-align: center;
                            font-weight: 700;
                            font-size: 3.2rem;
                            font-family: $AntiqueOlive;

                            @include tablet {
                                width: 4rem;
                                height: 4rem;
                                line-height: 4rem;
                                margin-right: 1.8rem;
                                font-size: 2.4rem;
                            }
                        }

                        @for $i from 1 through 7 {
                            &:nth-child(#{$i}) {
                                &::before {
                                    content: "0#{$i}";
                                    background-color: if($i ==1,
                                            $pink,
                                            if($i ==2,
                                                $purple_10,
                                                if($i ==3,
                                                    $green_80,
                                                    if($i ==4,
                                                        $orange_40,
                                                        if($i ==5,
                                                            $red_40,
                                                            if($i ==6, $blue_40, if($i ==7, $orange_40, null)))))));
                                }
                            }
                        }

                        &:not(:last-child) {
                            &::after {
                                content: "";
                                position: absolute;
                                top: 6rem;
                                left: 2.6rem;
                                width: 0.7rem;
                                height: 24.5rem;
                                background: $gray_10;

                                @include tablet {
                                    width: 0.6rem;
                                    height: 22.5rem;
                                    top: 4rem;
                                    left: 1.6rem;
                                }
                            }
                        }

                        &.on {
                            animation: processAll 2s forwards;

                            &:not(:last-child) {
                                &::after {
                                    animation: processBefore 1s forwards;
                                    opacity: 0;

                                    @include tablet {
                                        animation: processBeforeMo 1s forwards;
                                    }
                                }
                            }
                        }

                        >span {
                            position: relative;
                            display: block;
                            width: 5.4rem;
                            font-size: 3.6rem;
                            font-weight: 700;
                            text-align: center;

                            @include tablet {
                                width: 3.4rem;
                                font-size: 2.4rem;
                                text-align: left;
                            }
                        }

                        >div {
                            @include tablet {
                                width: 25.6rem;
                            }

                            strong {
                                font-size: 3.6rem;
                                font-weight: 700;

                                @include tablet {
                                    font-size: 2.4rem;
                                }
                            }

                            p {
                                padding-top: 1rem;
                                font-size: 2rem;
                                line-height: 1.8;

                                @include tablet {
                                    font-size: 1.4rem;
                                }
                            }

                            a {
                                padding-top: 1rem;
                                font-size: 2rem;
                                font-weight: 700;
                                text-decoration: underline;

                                @include tablet {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}