@import "../base/util.scss";

@keyframes processBefore {
    0% {           
        height: 0;
    }
    100% {         
        height: 28rem;
        opacity: 1;
    }
}

@keyframes processBeforeMo {
    0% {           
        height: 0;
    }
    100% {         
        height: 24.7rem;
        opacity: 1;
    }
}

@keyframes processAll {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}