@charset "UTF-8";

@font-face {
	font-family: 'Pretendard';
    font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), local('Pretendard-Bold'), 
    url(../assets/font/Pretendard/Pretendard-Bold.eot),
    url(../assets/font/Pretendard/Pretendard-Bold.eot?#iefix) format('embedded-opentype'), 
    url(../assets/font/Pretendard/Pretendard-Bold.woff2) format('woff2'),
    url(../assets/font/Pretendard/Pretendard-Bold.woff) format('woff'),
    url(../assets/font/Pretendard/Pretendard-Bold.ttf) format('truetype'),
    url(../assets/font/Pretendard/Pretendard-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'Pretendard';
    font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), local('Pretendard-SemiBold'), 
    url(../assets/font/Pretendard/Pretendard-SemiBold.eot),
    url(../assets/font/Pretendard/Pretendard-SemiBold.eot?#iefix) format('embedded-opentype'), 
    url(../assets/font/Pretendard/Pretendard-SemiBold.woff2) format('woff2'),
    url(../assets/font/Pretendard/Pretendard-SemiBold.woff) format('woff'),
    url(../assets/font/Pretendard/Pretendard-SemiBold.ttf) format('truetype'),
    url(../assets/font/Pretendard/Pretendard-SemiBold.otf) format('opentype');
}

@font-face {
	font-family: 'Pretendard';
    font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), local('Pretendard-Medium'), 
    url(../assets/font/Pretendard/Pretendard-Medium.eot),
    url(../assets/font/Pretendard/Pretendard-Medium.eot?#iefix) format('embedded-opentype'), 
    url(../assets/font/Pretendard/Pretendard-Medium.woff2) format('woff2'),
    url(../assets/font/Pretendard/Pretendard-Medium.woff) format('woff'),
    url(../assets/font/Pretendard/Pretendard-Medium.ttf) format('truetype'),
    url(../assets/font/Pretendard/Pretendard-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'Pretendard';
    font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), local('Pretendard-Regular'), 
    url(../assets/font/Pretendard/Pretendard-Regular.eot),
    url(../assets/font/Pretendard/Pretendard-Regular.eot?#iefix) format('embedded-opentype'), 
    url(../assets/font/Pretendard/Pretendard-Regular.woff2) format('woff2'),
    url(../assets/font/Pretendard/Pretendard-Regular.woff) format('woff'),
    url(../assets/font/Pretendard/Pretendard-Regular.ttf) format('truetype'),
    url(../assets/font/Pretendard/Pretendard-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Pretendard';
    font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), local('Pretendard-Light'), 
    url(../assets/font/Pretendard/Pretendard-Light.eot),
    url(../assets/font/Pretendard/Pretendard-Light.eot?#iefix) format('embedded-opentype'), 
    url(../assets/font/Pretendard/Pretendard-Light.woff2) format('woff2'),
    url(../assets/font/Pretendard/Pretendard-Light.woff) format('woff'),
    url(../assets/font/Pretendard/Pretendard-Light.ttf) format('truetype'),
    url(../assets/font/Pretendard/Pretendard-Light.otf) format('opentype');
}