@charset "UTF-8";
/* font */
/* 변수선언 */
/* 노트북 */
/* 테블릿 */
/* 모바일 */
.d-pc {
  display: block;
}

.d-no {
  display: none;
}

.d-tj {
  display: none;
}

.d-mb {
  display: none;
}

@media (max-width: 1280px) {
  .d-no {
    display: block;
  }
}
@media (max-width: 930px) {
  .d-tj {
    display: block;
  }
}
@media (max-width: 768px) {
  .d-pc {
    display: none;
  }
  .d-mb {
    display: block;
  }
}
@keyframes flowRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes flowLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}